In [5]:
# [ ] Change the third element of T to [59, 20.4]

T = ([43.6, 34], [49, 59], [50, 34.6], [39, 49])

T[2][:2] = [59, 20.4]

print(T)

([43.6, 34], [49, 59], [59, 20.4], [39, 49])

In [6]:
# [ ] Write a program to merge the content of T1 and T2 into one tuple T
# Correct output should be T = (5, 4, 3, 9, 2, 12)
# T = ((5, 4, 3), (9, 2, 12)) is an incorrect output

# Hint: Use list to/from tuple conversion

T1 = (5, 4, 3)
T2 = (9, 2, 12)

listT1 = list(T1)
listT2 = list(T2)

newList = listT1 + listT2

TL = tuple(newList)
print(TL)

(5, 4, 3, 9, 2, 12)

In [7]:
T = (12, 24, 'name', 'city')

# Slice the tuple into numerical and textual tuples
numerical_tuple = T[0:2]
print(numerical_tuple)

textual_tuple = T[-2:] #always moves towards the positive side that is from -2 to -1
print(textual_tuple)

(12, 24)
('name', 'city')

In [8]:
# Swap variables using tuple unpacking

e1 = 5
e2 = 109
print("\nBefore swapping:")
print("e1 = {:3d}\t e2 = {:3d}".format(e1, e2))

e1, e2 = e2, e1

print("\nAfter swapping:")
print("e1 = {:3d}\t e2 = {:3d}".format(e1, e2))

Before swapping:
e1 =   5	 e2 = 109

After swapping:
e1 = 109	 e2 =   5

In [10]:
# Split a full name into the first and last names
def split_name(name):
    names = name.split(" ")
    first_name = names[0]
    last_name = names[-1]
    # pack the variables into a tuple, then return the tuple
    return (first_name, last_name)

# Ask user for input
name = input("Enter your full name: ")

# Unpack the returned tuples into first, last variables
# looks like the function returns 2 variables
first, last = split_name(name)

# Unpacked variables can be used separately
print("First name: {:s}".format(first))
print("Last name: {:s}".format(last))

Enter your full name: Raga Swami Murthy
First name: Raga
Last name: Murthy

In [11]:
#Split the components of T into T1 ad T2

T = (5, 4, 3, 9, 2, 12)
def split_tuple(T):
    T1 = T[:3]
    T2 = T[-3:]
    return(T1,T2)

sol1, sol2 = split_tuple(T)

print("First Tuple : ",sol1)
print("Other Tuple : ",sol2)

First Tuple :  (5, 4, 3)
Other Tuple :  (9, 2, 12)

In [19]:
#Take a tuple, split it up 

def split_tuple(T):
    Ts = T.split(" ") 
    T1 = Ts[:3]
    T2 = Ts[-3:]
    return(T1,T2)
T = input("Enter a list of 6 nos: ")

(sol1, sol2) = split_tuple(T)

sol11 = tuple(sol1)
sol22 = tuple(sol2)
print(sol11)
print(sol22)

Enter a list of 6 nos: 3 8 5 0 4 1
('3', '8', '5')
('0', '4', '1')

In [20]:
# [ ] Write an expression to unpack `T` into:
# 1) x = 5
# 2) l = [3, 5.3]
# 3) s = 'something
# 4) t = (9, 0)

T = (5, [3, 5.3], 'something', (9, 0))

x = T[0]
l = T[1]
s = T[2]
t = T[3]

print("After unpacking the tuple:", T)
print("x =", x)
print("l =", l)
print("s =", s)
print("t =", t)

After unpacking the tuple: (5, [3, 5.3], 'something', (9, 0))
x = 5
l = [3, 5.3]
s = something
t = (9, 0)

In [ ]:
# [ ] Complete the function `current_date` to return today's month, day, and year
# Hint: Use an appropriate function from the datetime module

def current_date():
    pass
    #TODO return month, day, year

m, d, y = current_date()
print("Today's date is: {:2d}/{:2d}/{:4d}".format(m, d, y))